.quiz-question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 20px auto;
  padding: 50px;
  border: 2px solid #2B8EAD;
  border-radius: 15px;
  background-color: rgba(43, 143, 173, 0.500);
}
